﻿@model double[,]

@{
    ViewBag.Title = "CorrMatr";
}

<h2>CorrMatr</h2>


<table class="table">
    <tr>
        @for (var j = 0; j < 6; j++)
        {
  
 
            <th>
                @("x"+j.ToString())
            </th>

        }


    </tr>
@for (var i = 0; i < 6; i++)
{
    <tr>
    @for (var j = 0; j < 6; j++)
     {
  

             <td>
                 @(Model[i, j])
             </td>

     }
    </tr>
}

</table>
