﻿@model IEnumerable<BusinessModel.Models.Region>

@{
    ViewBag.Title = "Index";
}

<h2>Regions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartOfWorkers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartOfInvestment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmallInvestment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Revenue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainFunds)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartOfWorkers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartOfInvestment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SmallInvestment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Revenue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainFunds)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditRegion", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
